<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %>
<p id="notice"><%= notice %></p>
<h1 class="text-center">Journal Entries</h1>
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <div class="btn-group">
        <%= button_to "New Entry", new_journal_entry_path, method: :get, class: "btn btn-primary" %><br>
        <% if current_user.userType == 2 %> 
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <%= button_to "Create Closing Entry", generate_closing_entry_path, method: :get, class: "dropdown-item" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col col-lg-2">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= text_field_tag :min, "", placeholder: "Min", class: "form-control", id: "min"  %>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= text_field_tag :max, "", placeholder: "Max", class: "form-control", id: "max" %>
      </div>
    </div>

    <div class="col col-lg-2">
      <div class="input-group mb-3">
        <%= text_field_tag :mind, "", placeholder: "Start Date", class: "form-control", id: "mindate", name: "mindate"  %>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="input-group mb-3">
        <%= text_field_tag :maxd, "", placeholder: "End Date", class: "form-control", id: "maxdate", name: "maxdate" %>
      </div>
    </div>

    <div class="col col-lg-2">
			<div class="dropdown">
				<button class="btn btn-outline-secondary btn-block dropdown-toggle" type="button" id="DropDownStatus" data-toggle="dropdown">
					Filter Status
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					 <button class="dropdown-item" type = "button" id = "statusAll" disabled>All</button>
           <button class="dropdown-item" type = "button" id = "statusPending">Pending</button>
           <button class="dropdown-item" type = "button" id = "statusApproved">Approved</button>
           <button class="dropdown-item" type = "button" id = "statusDeclined">Declined</button>
				</div>
			</div>
		</div>
      <%= link_to "Clear Filters", reload_page_path %>
  </div>

  <table class="table" id="table-layout">
    <thead>
      <tr>
        <th scope="col" class="text-center">Date Added</th>
        <th scope="col" class="text-center">Entry Type</th>
        <th scope="col">User</th>
        <th scope="col">Accounts</th>
        <th scope="col" class="text-right">Debit</th>
        <th scope="col" class="text-right">Credit</th>
        <th scope="col" class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @journal_entries.each do |journal_entry| %>
      <tr>
        <td class="text-center"><%= journal_entry.date_added %>
        <% if journal_entry.status == "Pending" && current_user.userType == 2 %>
          <%= button_to "Approve", approve_path(entry: journal_entry), method: :post, class: "btn btn-success btn-sm btn-block" %>
          <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#exampleModal">Decline</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Please add why the entry is being declined:</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= form_tag decline_path(entry: journal_entry), :method => :post do %>
                  <div class="container">
                    <br>
                    <%= text_area_tag :reason, nil, required: true, class: 'col-md-12 form-control', rows: '7'%>
                    <br>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <%= submit_tag 'Confirm', :class => 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </td>
        <td class="text-center"><%= journal_entry.entry_type %></td>
        <td><%= User.find_by(id: journal_entry.user_id).username %></td>
        <td>
          <% journal_entry.debit_account.each do |a|%>
            <%= link_to "#{Account.find_by(id: a).account_number} - #{Account.find_by(id: a).name.truncate(20)}", "/ledger/#{a}"%><br>
          <%end%>

          <% journal_entry.credit_account.each do |a|%>
            <div style="text-indent: 40px">
              <%= link_to "#{Account.find_by(id: a).account_number} - #{Account.find_by(id: a).name.truncate(20)}", "/ledger/#{a}"%>
            </div>
          <%end%>          
        </td>
        <td class="text-right">
          <% journal_entry.debit_total.each do |num|%>
            <%= number_to_currency(num, precision: 2) %>
            <br>
          <%end%>
        </td>
        <td class="text-right">
          <% journal_entry.debit_total.each do |num|%>
            <br>
          <%end%>
          <% journal_entry.credit_total.each do |num|%>
            <%= number_to_currency(num, precision: 2) %>
            <br>
          <%end%>
        </td>
        <td class="text-center">
          <% if journal_entry.status == "Approved" %>
            <a href= <%= journal_entry_path(journal_entry.id) %> > 
              <span class="badge badge-pill badge-success"> <%= journal_entry.status %> </span> 
            </a>

          <% elsif journal_entry.status == "Declined"%>
            <a href= <%= journal_entry_path(journal_entry.id) %> > 
              <span class="badge badge-pill badge-danger"> <%= journal_entry.status %> </span> 
            </a>
          <% else %>
            <a href= <%= journal_entry_path(journal_entry.id) %> > 
              <span class="badge badge-pill badge-warning"> <%= journal_entry.status %> </span><br>
            </a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if JournalEntry.where(status: "Pending").count > 0 && current_user.userType == 2 && Rails.env != "production"%>
    <%= button_to "Approve all", approve_all_path, method: :post, class: "btn btn-light btn-block", style: "color:white;" %> <!-- for bug testing only  -->
    <%= button_to "Decline all", decline_all_path, method: :post, class: "btn btn-light btn-block", style: "color:white;" %>  <!-- for bug testing only  -->
  <% end %>
</div>

<script>
  var minDate, maxDate;
 
  $.fn.dataTable.ext.search.push(
      function( settings, data, dataIndex ) {
          var min = minDate.val();
          var max = maxDate.val();
          var date = new Date( data[0] );
  
          if (
              ( min === null && max === null ) ||
              ( min === null && date <= max ) ||
              ( min <= date   && max === null ) ||
              ( min <= date   && date <= max )
          ) {
              return true;
          }
          return false;
      }
  );

  $.fn.dataTable.ext.search.push(
    function amount( settings, data, dataIndex ) {
        var min = parseInt( $('#min').val(), 10 );
        var max = parseInt( $('#max').val(), 10 );
        var balance = parseFloat(data[4,5].replace('$','').replace(/,|_/g, '')).toFixed(2) || 0;
        
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && balance <= max ) ||
             ( min <= balance && isNaN( max ) ) ||
             ( min <= balance && balance <= max ) )
        {
            return true;
        }
        return false;
    }
  );

  $.fn.dataTable.ext.search.push(
    function status( settings, data, dataIndex ) {
      var status = data[6];
      if (document.getElementById("statusAll").disabled)
      {
        return true;
      }
      if (document.getElementById("statusPending").disabled && status.includes("Pending"))
      {
        return true;
      }
      if (document.getElementById("statusApproved").disabled && status.includes("Approved"))
      {
        return true;
      }
      if (document.getElementById("statusDeclined").disabled && status.includes("Declined"))
      {
        return true;
      }
      return false;
    }
  );
  
  $(document).ready(function() {

    minDate = new DateTime($('#mindate'), {
          format: 'MMMM Do YYYY'
      });
      maxDate = new DateTime($('#maxdate'), {
          format: 'MMMM Do YYYY'
      });
  
      //Sorts table by date
      var table = $('#table-layout').DataTable( {
                    "order": [[ 0, "desc" ]]
                  } );

      
      $('#mindate, #maxdate').on('change', function () {
          table.draw();
      });

      $('#min, #max').keyup( function() {
        table.draw();
      } );

      $('#statusAll').click(function() {
        document.getElementById("statusAll").disabled = false;
        document.getElementById("statusPending").disabled = false;
        document.getElementById("statusApproved").disabled = false;
        document.getElementById("statusDeclined").disabled = false;
  
        document.getElementById("statusAll").disabled = true;
        table.draw();
      } );
      $('#statusPending').click(function() {
        document.getElementById("statusAll").disabled = false;
        document.getElementById("statusPending").disabled = false;
        document.getElementById("statusApproved").disabled = false;
        document.getElementById("statusDeclined").disabled = false;
  
        document.getElementById("statusPending").disabled = true;
        table.draw();
      } );
      $('#statusApproved').click(function() {
        document.getElementById("statusAll").disabled = false;
        document.getElementById("statusPending").disabled = false;
        document.getElementById("statusApproved").disabled = false;
        document.getElementById("statusDeclined").disabled = false;
  
        document.getElementById("statusApproved").disabled = true;
        table.draw();
      } );
      $('#statusDeclined').click(function() {
        document.getElementById("statusAll").disabled = false;
        document.getElementById("statusPending").disabled = false;
        document.getElementById("statusApproved").disabled = false;
        document.getElementById("statusDeclined").disabled = false;
        
        document.getElementById("statusDeclined").disabled = true;
        table.draw();
      } );
  });
</script>