<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %>
<p id="notice"><%= notice %></p>
<h1 class="text-center">Journal Entries</h1>
<br>
<div class="container">

  <div class="row justify-content-md-start">
    <div class="col col-lg-2">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= text_field_tag :min, "", placeholder: "Min date", class: "form-control", id: "min"  %>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= text_field_tag :max, "", placeholder: "Max date", class: "form-control", id: "max" %>
      </div>
    </div>
  </div>

  <table class="table" id="table-layout">
    <thead>
      <tr>
        <th scope="col">Date Added</th>
        <th scope="col">Entry Type</th>
        <th scope="col">User</th>
        <th scope="col">Accounts</th>
        <th scope="col">Debit</th>
        <th scope="col">Credit</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @journal_entries.each do |journal_entry| %>
      <tr>
        <td><%= journal_entry.date_added %></td>
        <td><%= journal_entry.entry_type %></td>
        <td><%= User.find_by(id: journal_entry.user_id).username %>
        <td>
          <% journal_entry.debit_account.each do |a|%>
            <%= link_to Account.find_by(id: a).account_number, "/ledger/#{a}"%>
              - <%= Account.find_by(id: a).name.truncate(20) %><br>
            <%end%>

          <% journal_entry.credit_account.each do |a|%>
            <div style="text-indent: 40px">
              <%= link_to Account.find_by(id: a).account_number, "/ledger/#{a}"%>
              - <%= Account.find_by(id: a).name.truncate(20) %><br>
            </div>
          <%end%>          
        </td>
        <td class="text-right">
          <% journal_entry.debit_total.each do |num|%>
            <%= number_to_currency(num, precision: 2) %>
            <br>
          <%end%>
        </td>
        <td class="text-right">
          <% journal_entry.debit_total.each do |num|%>
            <br>
          <%end%>
          <% journal_entry.credit_total.each do |num|%>
            <%= number_to_currency(num, precision: 2) %>
            <br>
          <%end%>
        </td>
        <td>
          <% if journal_entry.status == "Approved" %>
            <span class="badge badge-pill badge-success"> <%= journal_entry.status %> </span> 
          <% elsif journal_entry.status == "Declined"%>
            <span class="badge badge-pill badge-danger"> <%= journal_entry.status %> </span> 
          <% else %>
            <span class="badge badge-pill badge-warning"> <%= journal_entry.status %> </span><br><br>
            <%= button_to "Approve", approve_path(entry: journal_entry), method: :post, class: "btn btn-success btn-sm btn-block" %>
            <%= button_to "Decline", decline_path(entry: journal_entry), method: :post, class: "btn btn-danger btn-sm btn-block" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br><br>
  <%= button_to "New Entry", new_journal_entry_path, method: :get, class: "btn btn-primary" %>
</div>

<script>
var minDate, maxDate;
 

$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = minDate.val();
        var max = maxDate.val();
        var date = new Date( data[4] );
 
        if (
            ( min === null && max === null ) ||
            ( min === null && date <= max ) ||
            ( min <= date   && max === null ) ||
            ( min <= date   && date <= max )
        ) {
            return true;
        }
        return false;
    }
);
 
$(document).ready(function() {

    minDate = new DateTime($('#min'), {
        format: 'MMMM Do YYYY'
    });
    maxDate = new DateTime($('#max'), {
        format: 'MMMM Do YYYY'
    });
 

    var table = $('#table-layout').DataTable();
 

    $('#min, #max').on('change', function () {
        table.draw();
    });
});
</script>