<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">
  <h1 class="text-center">Journal Entry Details</h1>
  <div class="text-right">
    <button class="btn btn-link bi-arrow-left hBack" type="button"> Back</button><br><br>
  </div>
    <table class="table" id="table-layout">
    <thead>
      <tr>
        <th scope="col" class="text-center">Date Added</th>
        <th scope="col" class="text-center">Entry Type</th>
        <th scope="col" class="text-center">User</th>
        <th scope="col">Accounts</th>
        <th scope="col" class="text-right">Debit</th>
        <th scope="col" class="text-right">Credit</th>
        <th scope="col" class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= @journal_entry.date_added %></td>
        <td class="text-center"><%= @journal_entry.entry_type %></td>
        <td class="text-center"><%= User.find_by(id: @journal_entry.user_id).username %></td>
        <td>
        <% @journal_entry.debit_account.each do |a|%>
          <%= link_to "#{Account.find_by(id: a).account_number} - #{Account.find_by(id: a).name.truncate(20)}", "/ledger/#{a}"%><br>
        <%end%>

        <% @journal_entry.credit_account.each do |a|%>
            <div style="text-indent: 40px">
              <%= link_to "#{Account.find_by(id: a).account_number} - #{Account.find_by(id: a).name.truncate(20)}", "/ledger/#{a}"%>
            </div>
        <%end%>     
        </td>
        <td class="text-right">
          <% @journal_entry.debit_total.each do |num|%>
            <%= number_to_currency(num, precision: 2) %>
            <br>
          <%end%>
        </td>
        <td class="text-right">
          <% @journal_entry.debit_total.each do |num|%>
            <br>
          <%end%>
          <% @journal_entry.credit_total.each do |num|%>
            <%= number_to_currency(num, precision: 2) %>
            <br>
          <%end%>
        </td>
        <td class="text-center">
            <% if @journal_entry.status == "Approved" %>
              <span class="badge badge-pill badge-success"> <%= @journal_entry.status %> </span> 
            <% elsif @journal_entry.status == "Declined"%>
              <span class="badge badge-pill badge-danger"> <%= @journal_entry.status %> </span> 
            <% else %>
              <span class="badge badge-pill badge-warning"> <%= @journal_entry.status %> </span><br>
            <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col">
      <strong>Description:</strong><br>
      <div class="border" style="width:500px; height:300px; padding: 10px">
        <%= @journal_entry.description %>
      </div>
        
    </div>
    <div class="col">
      <table class="table bordered">
        <strong>Source Document:</strong><br>
        <% if @journal_entry.source_document.attached? %>
          <% @journal_entry.source_document.each do |doc| %>
            <tr>
              <td> <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment') %> </td>
              <td> <%= link_to "View", rails_blob_path(doc, disposition: 'preview') %> </td>
            </tr>
            <!-- <iframe src="<%= rails_blob_path(doc, disposition: :inline) %>" width="500" height="300" style="border: none;" class="border"> </iframe> -->
          <% end %>
        <% else %>
          <div class="border text-center" style="width:500px; height:300px;">
            <p class="font-weight-light">(No documents found)</p>
          </div>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
  $(".hBack").on("click", function(e){
      e.preventDefault();
      window.history.back();
  });
</script>