<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">
  <h2 class="text-center">Addams & Family Inc.</h2>
  <h2 class="text-center">Balance Sheet</h2>
  <h3 class="text-center">As of <%= Date.current.to_formatted_s(:long_ordinal) %></h3>

  <% unless current_user.userType != 2 %>
    <div class="text-right">  
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Email this report to another user" title="Email this report to another user">
          Email to:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% User.all.each do |user| %>
          <%= link_to user.username, send_balance_sheet_path(:pdf => "balance_sheet_pdf", :email => user.email), class: "dropdown-item" %>
          <%end%>
        </div>
        <%= link_to "Save PDF", balance_sheet_path(format: :pdf), class: "btn btn-primary", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Save this report as a PDF or print it out' %>
      </div>
    </div>
  <%end%><br>

  <table class="table" id="table-layout">
    <tbody>
      <tr class="table-primary">
        <td class="font-weight-bold" >Assets</td>
        <td></td>
        <td class="font-weight-bold text-right">Totals</td>

      </tr>
      <tr>
        <td class="font-weight-bold" style="text-indent: 40px">Current Assets</td>
        <td></td>

        <% if @total_current_assets < 0 %>
          <td class="text-right">($<%= number_with_precision(@total_current_assets.abs(), precision: 2, delimiter: ',') %>)</td>
        <% else %>
          <td class="text-right">$<%= number_with_precision(@total_current_assets, precision: 2, delimiter: ',') %></td>
        <% end %>

      </tr>
    
      <% @current_assets.each do |a| %>
      <tr>
          <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
          
          <% if a.balance < 0 %>
            <td class="text-right" style="text-indent: 80px">($<%= number_with_precision(a.balance.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
          <% end %>

          <td></td>
      </tr>
      <% end %>


      <tr>
        <td class="font-weight-bold" style="text-indent: 40px">Property Plant & Equipment</td>
        <td></td>

          <% if @total_equipment_assets < 0 %>
            <td class="text-right">($<%= number_with_precision(@total_equipment_assets.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right">$<%= number_with_precision(@total_equipment_assets, precision: 2, delimiter: ',') %></td>
          <% end %>

      </tr>

      <% @equipment_assets.each do |a| %>
      <tr>
          <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>

          <% if a.balance < 0 %>
            <td class="text-right" style="text-indent: 80px">($<%= number_with_precision(a.balance.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
          <% end %>

          <td></td>
      </tr>
      <% end %>

      <tr class="table-active font-weight-bold">
        <td>Total Assets</td>
        <td></td>

          <% if @total_assets < 0 %>
            <td class="text-right" style="text-decoration-line: underline; text-decoration-style: double;">($<%= number_with_precision(@total_assets.abs, precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right" style="text-decoration-line: underline; text-decoration-style: double;">$<%= number_with_precision(@total_assets, precision: 2, delimiter: ',') %></td>
          <% end %>

      </tr>

      <tr class="table-primary">
        <td class="font-weight-bold" >Liabilities & Equity</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="font-weight-bold" style="text-indent: 40px">Liabilities</td>
        <td></td>

         <% if @total_liabilities < 0 %>
            <td class="text-right">($<%= number_with_precision(@total_liabilities.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right">$<%= number_with_precision(@total_liabilities, precision: 2, delimiter: ',') %></td>
          <% end %>
          
      </tr>

      <% @liability_accounts.each do |a| %>
      <tr>
        <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>

          <% if @balance < 0 %>
            <td class="text-right" style="text-indent: 80px" >($<%= number_with_precision(a.balance.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right" style="text-indent: 80px" >$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
          <% end %>

        <td></td>
      </tr>
      <% end %>


      <tr>
        <td class="font-weight-bold" style="text-indent: 40px">Equity</td>
        <td></td>

          <% if @total_equity < 0 %>
            <td class="text-right">($<%= number_with_precision(@total_equity.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right">$<%= number_with_precision(@total_equity, precision: 2, delimiter: ',') %></td>
          <% end %>

      </tr>

      <% @equity_accounts.each do |a| %>
      <tr>
        <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>

          <% if a.balance < 0 %>
            <td class="text-right" style="text-indent: 80px" >($<%= number_with_precision(a.balance.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right" style="text-indent: 80px" >$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
          <% end %>

        <td></td>
      </tr>
      <% end %>

      <tr>
        <td style="text-indent: 80px"><%= @retained_earnings_account.first.truncate(40) %> </td>

          <% if @retained_earnings_account.second < 0 %>
            <td class="text-right" style="text-indent: 80px" >($<%= number_with_precision(@retained_earnings_account.second.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
            <td class="text-right" style="text-indent: 80px" >$<%= number_with_precision(@retained_earnings_account.second, precision: 2, delimiter: ',') %></td>
          <% end %>

        <td></td>
      </tr>

      <tr class="table-active font-weight-bold">
        <td>Total Liabilities and Equity</td>
        <td></td>

          <% if @total_l_and_e < 0 %>
            <td class="text-right" style="text-decoration-line: underline; text-decoration-style: double; ">($<%= number_with_precision(@total_l_and_e.abs(), precision: 2, delimiter: ',') %>)</td>
          <% else %>
          <td class="text-right" style="text-decoration-line: underline; text-decoration-style: double; ">$<%= number_with_precision(@total_l_and_e, precision: 2, delimiter: ',') %></td>
          <% end %>

      </tr>
    </tbody>
  </table>
</div>