<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %>
<div class="container">
    <% if current_user.userType == 1 %>
        <text-align>
            <center>
                <h3>This is a list of users with passwords that are either soon to or already expired.</h3>
                <h3>Please be sure to notify them to change their password as soon as possible.</h3>
            </center>
        </text-align>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Days Left</th>
                    <th scope="col">Expired</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                <% @all_users.each do |user| %>
                    <% days_left = 30 - (Date.today - ((user.passUpdatedAt).to_date)).round %>
                    <% expired = false %>
                    <tr>
                        <th scope="row"><%= user.id %></th>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <% if days_left <= 0 %>
                            <% expired = true %>
                            <% days_left = 0 %>
                            <td class="table-danger"><%= days_left %><%= ' days' %></td>
                        <% else %>
                            <% expired = false %>
                            <td><%= days_left %><%= ' days' %></td>
                        <% end %>
                            <td><%= expired %></td>
                        <% if user.userType == 1 %>
                            <td><%= 'Administrator' %></td>
                        <%elsif user.userType == 2 %>
                            <td><%= 'Manager' %></td>
                        <%elsif user.userType == 3 %>
                            <td><%= 'Accountant' %></td>
                        <%end%>
                    </tr>
                <%end%>
            </tbody>
        </table>
    <% else %>
        <text-align>
            <center>
                <h1>Forbidden. You do not have access to this page.</h1>
            </center>
        </text-align>
    <% end %>
    <a href= "/user_management">Back to User Management</a>
</div>