<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">
    <% if current_user.userType == 1 %>
        <h1 class="text-center">Users Password Experation</h1>
        <h6 class="text-center">Be sure to notify users who's password are about to expire.</h6><br>

        <table class="table" id="table-layout">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Days Left</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                <% @all_users.each do |user| %>
                    <% days_left = 30 - (Date.today - ((user.passUpdatedAt).to_date)).round %>
                    <% expired = false %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <% if days_left <= 0 %>
                            <% days_left = 0 %>
                            <td class="table-danger"><%= days_left %><%= ' days' %></td>
                        <% else %>
                            <td><%= days_left %><%= ' days' %></td>
                        <% end %>
                        <% if user.userType == 1 %>
                            <td><%= 'Administrator' %></td>
                        <%elsif user.userType == 2 %>
                            <td><%= 'Manager' %></td>
                        <%elsif user.userType == 3 %>
                            <td><%= 'Accountant' %></td>
                        <%end%>
                    </tr>
                <%end%>
            </tbody>
        </table>
    <% else %>
        <h1 class="text-center">Forbidden. You do not have access to this page.</h1>
    <% end %>
    <a href= "/user_management">Back to User Management</a>
</div>

<script>
  $(document).ready(function() {
    $('#table-layout').dataTable();
  });
</script>