<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">
  <% if current_user.userType == 2 %>
    <h1 class="text-center">Income Statement</h1>
    <h5 class="text-center">As of <%= Date.current.to_formatted_s(:long_ordinal) %></h5>
    <table class="table" id="table-layout">
        <tbody>
        <tr class="table-primary">
            <td class="font-weight-bold" >Revenues</td>
            <td></td>
            <td class="font-weight-bold text-right">Totals</td>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Service Revenue</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_service_revenue, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @service_revenue.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        <tr class="table-active">
            <td class="font-weight-bold" >Total Revenues</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_revenues, precision: 2, delimiter: ',') %></td>
        </tr>

        <tr class="table-primary">
            <td class="font-weight-bold" >Expenses</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Insurance Expense</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_insurance_expense, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @insurance_expense.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Depreciation Expense</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_depreciation_expense, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @depreciation_expense.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Rent Expense</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_rent_expense, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @rent_expense.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Supplies Expense</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_supplies_expense, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @supplies_expense.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Salaries Expense</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_salaries_expense, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @salaries_expense.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Telephone Expense</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_telephone_expense, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @telephone_expense.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Utilities Expense</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_utilities_expense, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @utilities_expense.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        </tr>
        <tr>
            <td class="font-weight-bold" style="text-indent: 40px">Advertising Expense</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_advertising_expense, precision: 2, delimiter: ',') %></td>
        </tr>
        <% @advertising_expense.each do |a| %>
            <tr>
                <td style="text-indent: 80px"><%= a.name.truncate(40) %> </td>
                <td class="text-right" style="text-indent: 80px">$<%= number_with_precision(a.balance, precision: 2, delimiter: ',') %></td>
                <td></td>
            </tr>
        <% end %>
        </tr>
        <tr class="table-active">
            <td class="font-weight-bold" >Total Expenses</td>
            <td></td>
            <td class="text-right">$<%= number_with_precision(@total_expenses, precision: 2, delimiter: ',') %></td>
        </tr>
        <tr class="table-primary">
        <td class="font-weight-bold" >Net Income (Loss)</td>
        <td></td>
        <td class="text-right" style="text-decoration-line: underline; text-decoration-style: double;">$<%= number_with_precision(@net_income, precision: 2, delimiter: ',') %></td>
        </tr>
        </tbody>
    </table>
  <% else %>
    <h1 class= "text-center">Forbidden. You do not have access to this page.</h1>
  <% end %>
</div>