<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>

<div class="container">
  <h2 class="text-center">Addams & Family Inc.</h2>
  <h2 class="text-center">Retained Earnings</h2>
  <h3 class="text-center">For the period ending <%= Date.new(2021, 12, 31).strftime("%B %d, %Y") %></h3><br>
  <table class="table">
  <tbody>
      <tr>
          <td>Beginning Retained Earnings</td>
          <td class="text-right">$<%= number_with_precision(@beginning_balance, precision: 2, delimiter: ',') %></td>
      </tr>
      <tr>
          <td>Net Income</td>
          <td class="text-right">$<%= number_with_precision(@net_income, precision: 2, delimiter: ',') %></td>
      </tr>
      <tr>
          <td>Less Drawings (Dividends)</td>
          <td class="text-right">$<%= number_with_precision(@less_drawings, precision: 2, delimiter: ',') %></td>
      </tr>
      <tr class="table-active font-weight-bold">
          <td>Ending Retained Balance</td>
          <td class="text-right" style="text-decoration-line: underline; text-decoration-style: double;">$<%= number_with_precision(@ending_balance, precision: 2, delimiter: ',') %></td>
      </tr>
  </tbody>
  </table>
</div>