<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">
    <% if current_user.userType == 1 %>
        <text-align>
            <center>
                <h1>Send Message</h1>
                <h4>Here, the administrator can send a message to any user in the system.</h2>
            </center>
        </text-align>
        <%= form_tag administrator_email_path, :method => :post do %>
            <label>Send to:</label><br>
            <%= collection_select(:user, :user_id, User.all, :id, :username)  %><br><br>
            <label>Subject:</label><br>
            <%= text_field_tag :subject, nil, required: true, class: 'col-md-6 form-control'%><br>
            <label>Body:</label><br>
            <%= text_area_tag :body, nil, required: true, class: 'col-md-12 form-control', rows: '7'%><br>
            <%= submit_tag 'Send', :class => 'btn btn-primary btn-block' %>
        <% end %>
    <% else %>
        <text-align>
            <center>
                <h1>Forbidden. You do not have access to this page.</h1>
            </center>
        </text-align>
    <% end %>
    <a href= "/user_management">Back to User Management</a>
</div>
