
<%= render partial: "shared/navigation_bar"%>
<div class="container border"><br>
    <h1>Sign In Help</h1>
    <%= link_to "< Back to Help Index", "/help_index", class: "float-right"%>

    <ul>
        <li><a href="#login">Logging In As An Existing User</a></li>
        <li><a href="#password_reset">Restting A Password</a></li>
        <li><a href="#create_user">Create A New User</a></li>
    </ul>

    <%= image_tag("documentation/sign_in/sign_in.png", width: '1000px') %>

    <h1 id="login">Logging In As An Existing User</h1>

    <p>If you already have a user account, enter your username and password in the appropriate fields, and click the <i>Log In</i> button.</p>
    <%= image_tag("documentation/sign_in/logging_in.png", width: '1000px') %>


    <p>Three attempts are given at logging in. After an incorrect password is given three times, the account will be locked for one minute.</p>
    <%= image_tag("documentation/sign_in/failed_login.png", width: '1000px') %>
    <%= image_tag("documentation/sign_in/three_failed_login_attempts.png", width: '1000px') %>

    <h1 id="password_reset">Resetting A Password</h1>

    <p>Click on the <i>Forgot/Reset Password</i> link.</p>
    <%= image_tag("documentation/sign_in/sign_in_forgot_password_highlighted.png", width: '1000px') %>

    <p>Provide the email address associated with the account and a reset link will be sent to that email address.</p>

    <%= image_tag("documentation/sign_in/forgot_password.png", width: '1000px') %>

    <h1 id="create_user">Create A New User</h1>

    <p>Click on the <i>Create New User</i> button to go to the user creation page.<p>

    <%= image_tag("documentation/sign_in/create_new_user.png", width: '1000px')%>

    <p>Enter your information in the fields. The password must be at least eigh characters long, and contain a letter, a number, and a special character.</p>

    <%= image_tag("documentation/sign_in/create_new_user_fields_filled.png", width: '1000px')%>

    <p>Click the <i>Submit</i> button. A request will be sent to the administrator to approve the account creation. Once an administrator approves the account, it will be accessible to the user.</p>
    <%= image_tag("documentation/sign_in/user_created.png", width: '1000px') %>

</div>