
<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">
  <% if current_user.userType == 2 %>
    <h1 class="text-center">Trial Balance</h1>
    <h5 class="text-center">As of <%= Date.current.to_formatted_s(:long_ordinal) %></h5>
    <table class="table" id="table-layout">
      <thead>
        <tr>
          <th scope="col">Account</th>
          <th scope="col">Debit</th>
          <th scope="col">Credit</th>
        </tr>
      </thead>
      <tbody>
        <% @non_zero_accounts.each do |account| %>
          <tr>
            <td><%= link_to "#{account.account_number} - #{account.name.truncate(40)}", "/ledger/#{account.id}", method: :get %> </td>

            <% if account.normal_side == "Debit" %>
              <td>$<%= number_with_precision(account.balance, precision: 2, delimiter: ',') %></td></td>
              <td></td>
            <% else %>
              <td></td>
              <td>$<%= number_with_precision(account.balance, precision: 2, delimiter: ',') %></td>
            <% end %>
          </tr>
        <%end%>
      </tbody>
      <thead>
        <% if @debit_total != @credit_total %>
          <tr class="table-danger">
        <% else %>
          <tr class="table-active">
        <% end %>
          <th scope="col">Total</th>
          <th scope="col" id = "DebitTotal" style="text-decoration-line: underline; text-decoration-style: double; ">$
            <%= number_with_precision(@debit_total, precision: 2, delimiter: ',') %>
          </th>
          <th scope="col" id = "CreditTotal" style="text-decoration-line: underline; text-decoration-style: double; ">$
            <%= number_with_precision(@credit_total, precision: 2, delimiter: ',') %>
          </th>
        </tr>
      </thead>
    </table>
  <% else %>
    <h1 class= "text-center">Forbidden. You do not have access to this page.</h1>
  <% end %>
</div>