
<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">
  <% if current_user.userType == 1 %>
    <h1 class="text-center">User Management</h1>
    <table class="table" id="table-layout">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email Address</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Role</th>
          <th scope="col">Active</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @all_users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.phoneNum %></td>
            <td><%= user.address %></td>
            <% if user.userType == 1 %>
                <td><%= 'Administrator' %></td>
            <%elsif user.userType == 2 %>
                <td><%= 'Manager' %></td>
            <%elsif user.userType == 3 %>
                <td><%= 'Accountant' %></td>
            <%end%>
            <td><%= user.active %></td>
            <td><%= button_to "Edit", "user/edit/#{user.id}", method: :get, class: "btn btn-primary btn-sm float-right", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Edit this user' %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-auto">      
        <%= button_to "Create New User", new_user_path, method: :get, class: "btn btn-primary", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Create New User' %>
      </div>
      <div class="col-sm-auto">      
        <%= button_to "View Expired Passwords Report", expired_passwords_path, method: :get, class: "btn btn-primary", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'View Expired Passwords Report' %>
      </div>

    </div><br>

  <% else %>
    <h1 class= "text-center">Forbidden. You do not have access to this page.</h1>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('#table-layout').dataTable();
  });
</script>