<%= render 'flash_messages' %>
<%= image_tag("logo.png", width: '200px', :class => "mx-auto d-block")%>
<h1 class="text-center">Welcome to MoneyBinder</h1><br>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center border">
      <%= form_tag login_path do %>
        <div class="form-group"><br>
          <h4><%= label_tag 'Username' %></h4>
          <%= text_field_tag :username, nil, placeholder: 'Enter Username', class: 'form-control'%>
        </div>
        <div class="form-group">
          <h4><%= label_tag 'Password' %></h4>
          <%= password_field_tag :password, nil, placeholder: 'Enter Password', class: 'form-control' %>
          <%= link_to 'Forgot/Reset Password', "/password/forgot", class: 'form-text text-muted', data: {icon: 'info', mini: 'true', role: 'button'} %>
        </div>
        <%= submit_tag "Log In", class: "btn btn-primary btn-block", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Login to an existing account'%>
      <%end%>
      <%= button_to "Create New User", sign_up_path, method: :get, class: "btn btn-light", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Create New User'%><br>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
