<!-- <p id="notice"><%= notice %></p> -->

<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">
  <h1 class="text-center">Event Logs</h1>

  <div class="row">
    <table class="table table-hover table-sm", id="table-layout">
      <thead>
        <tr class="table">
          <th scope="col">#</th>
          <th scope="col">Changed By</th>
          <th scope="col">Account</th>
          <th scope="col">Action</th>
          <th scope="col">Changed</th>
          <th scope="col">Before</th>
          <th scope="col">After</th>
          <th scope="col">Date</th>
          <th scope="col"></th> 
        </tr>
      </thead>

      <tbody>
        <% @event_logs.each do |event_log| %>

          <tr>
            <th scope="row"><%= event_log.first.id.to_s %></th>
            <td><%= event_log.first.user_name %></td>
            <td><%= event_log.first.account_name %></td>
            <td> 
              <% if event_log.first.event_type == "Added" %>
                <span class="badge badge-pill badge-success"> <%= event_log.first.event_type %>   </span> 
              <% elsif event_log.first.event_type == "Deactivated"%>
                <span class="badge badge-pill badge-danger"> <%= event_log.first.event_type %>   </span> 
              <% else %>
                <span class="badge badge-pill badge-warning" style="color:white"> <%= event_log.first.event_type %>   </span> 
              <%end%>
            </td>



            <td>
              <table class="table">
                <tr><td>Account #</td></tr>
                <tr><td>Name</td></tr>
                <tr><td>Type</td></tr>
                <tr><td>Balance</td></tr>
                <tr><td>Active</td></tr>
              </table>
            </td>
            <td>

              <% if !event_log.second.nil? %>
                <table class="table table-borderless" >
                  <tr><td><%= event_log.second.account_number unless nil %></td></tr>
                  <tr><td><%= event_log.second.name %></td></tr>
                  <tr><td><%= event_log.second.category %></td></tr>
                  <tr><td>$<%= number_with_precision(event_log.second.balance, precision: 2, delimiter: ',') %></td></tr>
                  <tr><td><%= event_log.second.active %></td></tr>
                </table>
              <%else%>
                <table class="table table-borderless">
                  <tr><td>None</td></tr>
                  <tr><td>None</td></tr>
                  <tr><td>None</td></tr>
                  <tr><td>None</td></tr>
                  <tr><td>None</td></tr>
                </table>
              <%end%>

            </td>
            <td>

              <% if !event_log.third.nil? %>
                <table class="table table-borderless">
                  <tr><td><%= event_log.third.account_number %></td></tr>
                  <tr><td><%= event_log.third.name %></td></tr>
                  <tr><td><%= event_log.third.category %></td></tr>
                  <tr><td>$<%= number_with_precision(event_log.third.balance, precision: 2, delimiter: ',') %></td></tr>
                  <tr><td><%= event_log.third.active %></td></tr>
                </table>
              <%else%>
                <table class="table table-borderless">
                  <tr><td>None</td></tr>
                  <tr><td>None</td></tr>
                  <tr><td>None</td></tr>
                  <tr><td>None</td></tr>
                  <tr><td>None</td></tr>
                </table>
              <%end%>

            </td>
            <td><%= event_log.first.created_at.to_date %></td>            
            <td><%= button_to 'View', event_log_path(event_log), method: :get, class: "btn btn-primary btn-sm float-right" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>  
  <!-- <%= link_to 'New Event Log', new_event_log_path %> -->

</div>

<script>
  $(document).ready(function() {
    $('#table-layout').dataTable();
  });
</script>