<div class="form-row">
  <div class="form-group col-md-6">
    <%= label_tag 'First Name'%>
    <%= text_field_tag :firstName, "#{@user.firstName}", required: true, class: 'form-control'%>
  </div>
  <div class="form-group col-md-6">
    <%= label_tag 'Last Name' %>
    <%= text_field_tag :lastName, "#{@user.lastName}", required: true, class: 'form-control'%>
  </div>
</div>

<% if type == "new" || type == "sign_up_new" %>
  <div class="form-group">
    <%= label_tag :password%>
    <%= password_field_tag :password, nil, required: true, class: 'form-control' %>
  </div>
<%end%>

<div class="form-row">
  <div class="form-group col-md-6">
    <%= label_tag :email%>
    <%= email_field_tag :email, "#{@user.email}", required: true, class: 'form-control'%>
  </div>
  <div class="form-group col-md-6">
    <%= label_tag :phone_number%>
    <%= text_field_tag :phoneNum, "#{@user.phoneNum}", required: true, class: 'form-control'%>
  </div>
</div>

<div class="form-group">
  <%= label_tag :address%>
  <%= text_field_tag :address, "#{@user.address}", required: true, class: 'form-control'%>
</div>

<% if type !="sign_up_new" %>
  <div class="form-row">
    <div class="col-md-1">
      <%= label_tag :Role, nil, class: "col-form-label"%>
    </div>
    <div class="col-md-5">
      <%= select_tag :userType, options_for_select([["Administrator", 1], ["Manager", 2], ["Accountant", 3]], selected: @user.userType), class: 'form-control' %>
    </div>
    <div class="col text-center form-group">
      <%= label_tag :activate, nil, class: "col-form-label"%>
      <%= check_box_tag :active, true, @user.active %>
    </div>
  </div>
<%end%>