<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">  
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <h1 class="text-center">Edit User</h1>
      <%= form_tag user_update_path, :method => :post do %>
        <div class="form-row">
          <%= label_tag 'Username'%>
          <%= text_field_tag :username, "#{@user.username}", required: true, class: 'form-control'%>
        </div><br>
        <%= render 'form', user: @user, type: "edit" %>

        <%= label_tag SecurityQuestion.find_by(id: @user.password_join_authorization.first.security_questions_id).question%>
        <%= text_field_tag :security_question_answer, "#{@user.password_join_authorization.pluck(:answer).first}", required: true, class: 'form-control'%> <br>
        <%= hidden_field_tag "user_id", @user.id %>
        <% if @user.suspendedTill > Time.now %>
          <%= label_tag "This user is already suspended until: #{@user.suspendedTill.strftime("%B%e, %Y %I:%M %p")}", nil, class: "text-danger" %><br>
          <%= label_tag "Remove Suspension?" %>
          <%= check_box_tag "reset_suspension", true, false %><br>
        <% else %>
          <%= label_tag 'Suspend User Until: '%>
          <div class="form-group">
              <label for="inputDate">Date:</label> <input type="text" class="form-control-md" id="inputDate">
              <label for="inputTime">Time:</label> <input type="text" class="form-control-md" id="inputTime">
          </div>
        <%end%>
        <%= submit_tag 'Submit', :class => 'btn btn-primary btn-block''btn btn-primary btn-block', 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Submit' %>
      <%end%>
      <%= link_to 'Back to User Management', user_management_path %>
    </div>
    <div class="col"></div>
  </div>
</div>

<script>
$(document).ready(function() {
    new DateTime($('#inputDate'), {
        format: 'MMMM Do YYYY'
    });
    new DateTime($('#inputTime'), {
        format: 'h:mm a'
    });
 
    $('#appointment').on('submit', function (e) {
        e.preventDefault();
 
        alert(
            $('#inputDate').val() + ' at ' +
            $('#inputTime').val()
        );
    });
});
</script>