<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %><br>
<div class="container">  
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <h1 class="text-center">Edit User</h1>
      <%= form_tag user_update_path, :method => :post do %>
        <div class="form-row">
          <%= label_tag 'Username'%>
          <%= text_field_tag :username, "#{@user.username}", required: true, class: 'form-control'%>
        </div>
        <%= render 'form', user: @user, type: "edit" %>

        <%= label_tag @user.security_question.first.question%>
        <%= text_field_tag :security_question_answer, "#{@user.password_authorization.pluck(:answer).first}", required: true, class: 'form-control'%> <br>
        <%= hidden_field_tag "user_id", @user.id %>
        <% if @user.suspendedTill > Time.now %>
          <%= label_tag "This user is already suspended until: #{@user.suspendedTill.strftime("%B%e, %Y %I:%M %p")}", nil, class: "text-danger" %><br>
          <%= label_tag "Remove Suspension?" %>
          <%= check_box_tag "reset_suspension", true, false %><br>
        <% else %>
          <%= label_tag 'Suspend User Until: '%>
          <%= render partial: "shared/calendar"%>
          <%= datetime_select 'suspend_time', "", {ampm: true, default: Time.now, disabled: @user.suspendedTill > Time.now, start_year: Date.current.year}%><br><br>
        <%end%>
        <%= submit_tag 'Submit', :class => 'btn btn-primary btn-block' %>
      <%end%>
      <%= link_to 'Back to User Management', user_management_path %>
    </div>
    <div class="col"></div>
  </div>
</div>