<div id="topheader">
  <nav class="navbar navbar-expand-sm navbar navbar-dark bg-primary">
    <div class="container-fluid">

      <%= image_tag("logo.png", width: '60px', class: "mr-auto d-block")%>
      <%= link_to "MoneyBinder", homepage_path, class: "navbar-brand", style: "padding-left:10px" %>
    
    
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto nav-fill w-50" id= navSelect>
          <li class="nav-item <%= active_class(homepage_path) %>">
            <%= link_to 'Dashboard', homepage_path, class: "nav-link"%>
          </li>
          <li class="nav-item <%= active_class(journal_path) %>">
            <%= link_to 'Journalize', journal_path, class: "nav-link"%>
          </li>
          <li class="nav-item <%= active_class(accounts_path) %>">
            <%= link_to 'Chart of Accounts', accounts_path, class: "nav-link"%>
          </li>
          <li class="nav-item <%= active_class(event_logs_path) %>">
            <%= link_to 'Event Log', event_logs_path, class: "nav-link"%>
          </li>
          <% if current_user.userType == 1 %>
            <li class="nav-item <%= active_class(user_management_path) %>">
              <%= link_to 'User Managment', user_management_path, class: "nav-link"%>
            </li>
          <%end%>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav ml-auto">
            <a href="/profile" class="nav-link">
              <%= image_tag("profile.jpeg", width: '50px', :class => "ml-auto d-block")%>
            </a>
            <li class="nav-item">
              <p style="line-height:10%">
                <a class="nav-link"></a>
                <a class="nav-link" href="/profile" style="color: white;"><%= current_user.username %></a>
                <a class="nav-link" href="/logout"><font size="-1">Logout</font></a>
              </p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</div>

<style>
  #topheader .navbar-nav li > a {
    text-transform: capitalize;
  }
  #topheader .navbar-nav li.active > a {
    color: #fff;
    text-decoration:underline
  }
</style>