<div id="topheader">
  <nav class="navbar navbar-expand-sm navbar navbar-dark bg-primary">
    <div class="container-fluid">

      <%= image_tag("logo.png", width: '60px', class: "mr-auto d-block")%>
      <%= link_to "MoneyBinder", homepage_path, class: "navbar-brand", style: "padding-left:10px" %>
    
    
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto nav-fill w-75" id= navSelect>
          <li class="nav-item <%= active_class(homepage_path) %>">
            <%= link_to 'Dashboard', homepage_path, class: "nav-link"%>
          </li>

          <% if current_user.userType != 1 %>
          <li class="nav-item <%= active_class(journal_entries_path) %>">
            <%= link_to 'Journalize', journal_entries_path, class: "nav-link"%>
          </li>
          <% end %>

          <li class="nav-item <%= active_class(accounts_path) %>">
            <%= link_to 'Chart of Accounts', accounts_path, class: "nav-link"%>
          </li>

          <li class="nav-item <%= active_class(event_logs_path) %>">
            <%= link_to 'Event Logs', event_logs_path, class: "nav-link"%>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
            <div class="dropdown-menu">
              <%= link_to 'Trial Balance',      trial_balance_path, class: "dropdown-item"%>
              <%= link_to 'Income Statement',   "#",                class: "dropdown-item"%>
              <%= link_to 'Retained Earnings',  "#",                class: "dropdown-item"%>
              <%= link_to 'Balance Sheet',      "#",                class: "dropdown-item"%>
            </div>
          </li>
          <% if current_user.userType == 1 %>
            <li class="nav-item <%= active_class(user_management_path) %>">
              <%= link_to 'User Management', user_management_path, class: "nav-link"%>
            </li>
          <%end%>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <p style="line-height:40%" class="text-center">
                <a class="nav-link"></a>
                <%= link_to 'Help', "/help_index", class: "nav-link"%>
                <% if current_user.userType != 1 %>
                  <%= link_to "Email", send_message_path, class: "nav-link"%>
                <% end %>
              </p>
            </li>
            <a href="/profile" class="nav-link">
              <%= image_tag("profile.jpeg", width: '50px', :class => "ml-auto d-block")%>
            </a>
            <li class="nav-item">
              <p style="line-height:10%">
                <a class="nav-link"></a>
                <a class="nav-link" href="/profile" style="color: white;"><%= current_user.username %></a>
                <a class="nav-link" href="/logout"><font size="-1">Logout</font></a>
              </p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</div>

<style>
  #topheader .navbar-nav li > a {
    text-transform: capitalize;
  }
  #topheader .navbar-nav li.active > a {
    color: #fff;
    text-decoration:underline
  }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>