
<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %>
<br>
<div class="container">
  <h1 class="text-center"><%= @account.account_number %> - <%= @account.name %></h1>
  <div class="text-right">
    <button class="btn btn-link bi-arrow-left hBack" type="button"> Back</button><br><br>
  </div>
  <table class="table" id="table-layout">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Post-Ref</th>
        <th scope="col">Description</th>
        <th scope="col">Debit</th>
        <th scope="col">Credit</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right"><%= number_to_currency(@account.initial_balance, precision: 2) %></td>
      </tr>
      <% @ledger_entries.each do |entry| %>
        <tr>
          <td><%= entry.created_at.to_date %></td>
          <td><%= link_to entry.postReference, journal_entry_path(entry.postReference), method: :get %></td>
          <td><%= entry.description.truncate(60) %></td>
          <% if entry.debit != 0 %>
            <td class="text-right"><%= number_to_currency(entry.debit, precision: 2) %></td>
          <% else %>
            <td></td>
          <% end %>

          <% if entry.credit != 0 %>
            <td class="text-right"><%= number_to_currency(entry.credit, precision: 2) %></td>
          <% else %>
            <td></td>
          <% end %>
          
          <td class="text-right"><%= number_to_currency(entry.balance, precision: 2) %></td>
        </tr>
      <%end%>
    </tbody>
  </table>

<script>
  $(document).ready(function() {
    $('#table-layout').dataTable( {
      "pageLength": 100
    });
  });
</script>


<script>
  $(".hBack").on("click", function(e){
      e.preventDefault();
      window.history.back();
  });
</script>