<%= render partial: "shared/navigation_bar"%>
<%= render 'flash_messages' %>
<br>
<div class="container">
  <h1 class="text-center">Chart of Accounts</h1><br>

  <div class="row justify-content-md-start">
    <div class="col col-lg-2">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= text_field_tag :min, "", placeholder: "Min", class: "form-control", id: "min"  %>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= text_field_tag :max, "", placeholder: "Max", class: "form-control", id: "max" %>
      </div>
    </div>
  </div>
    
  <table class="table" id="table-layout">
    <thead>
    <tr>
        <th scope="col">Account #</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Sub-Type</th>
        <th scope="col">Balance</th>
        <th scope="col">Active</th>
        <th scope="col">Created By</th>
        <% if current_user.userType == 1 %>
          <th scope="col">Edit</th> 
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to account.account_number, "/ledger/#{account.id}", method: :get %></td>
          <td><%= link_to account.name.truncate(40), "/ledger/#{account.id}", method: :get %></td>
          <td><%= account.category %></td>
          <td><%= account.subcategory %></td>
          <td class = "text-right">$<%= number_with_precision(account.balance, precision: 2, delimiter: ',') %></td>
          <td><%= account.active %></td>
          <td><%= User.find(account.user_id).username %></td>
          
          <% if current_user.userType == 1 %>
             <td><%= button_to "Edit", edit_account_path(account), method: :get, class: "btn btn-primary btn-sm float-right", 'data-toggle': 'tooltip', 'data-placement':'top', title: "Edit #{account.name}" %></td>
          <% end %>
        </tr>
      <%end%>
    </tbody>
  </table>

  <div class = 'row'>
    <div class="col py-3 px-lg-2">
      <% if current_user.userType == 1 %>
        <%= button_to "Create New Account", new_account_path, method: :get, class: "btn btn-primary", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Create new account' %>
      <% end %>
    </div>
  </div>
</div>

<script>
$.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = parseInt( $('#min').val(), 10 );
        var max = parseInt( $('#max').val(), 10 );
        var balance = parseFloat(data[4].replace('$','').replace(/,|_/g, '')).toFixed(2) || 0;
        
        if ( ( isNaN( min ) && isNaN( max ) ) ||
             ( isNaN( min ) && balance <= max ) ||
             ( min <= balance && isNaN( max ) ) ||
             ( min <= balance && balance <= max ) )
        {
            return true;
        }
        return false;
    }
);
 
$(document).ready(function() {
    var table = $('#table-layout').DataTable();

    $('#min, #max').keyup( function() {
      table.draw();
    } );
} );
</script>